@import url(https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Oswald:wght@400;700&family=Orbitron:wght@400;700&family=Rajdhani:wght@400;500;700&display=swap);
Bebas+Neue
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.site-logo {
  display: inline-block;
  color: white;
  font-family: 'Oswald', serif;
  font-size: 1.2em;
  text-shadow: .003em .003em 0 hsla(230, 40%, 50%, 1);
}

.site-logo:after {
  content: attr(data-shadow);
  position: absolute;
  top: .06em;
  left: .06em;
  z-index: -1;
  text-shadow: none;
  background-image:
    linear-gradient(45deg,
      transparent 45%,
      hsla(48, 20%, 90%, 1) 45%,
      hsla(48, 20%, 90%, 1) 55%,
      transparent 0);
  background-size: .05em .05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
  0% {
    background-position: 0 0
  }

  0% {
    background-position: 100% -100%
  }
}


